body, html { width: 100%; height: 100%; padding: 0; margin: 0; overflow-x:hidden;}

.ui.layout.wrapper {
    width:100%;
    display:table;
    table-layout: fixed;
}
.ui.layout.wrapper > .wrapper {
    display:table-row;
}
.ui.layout.wrapper > .wrapper.drag {
    cursor: col-resize;
}
.ui.layout.wrapper > .wrapper > .panel {
    display:table-cell;
    overflow:hidden;
    vertical-align: top;
}
.ui.layout.wrapper > .wrapper > .panel.left {
    width:100px;
}
.ui.layout.wrapper > .wrapper > .panel.center {
    width:25%;
}
.ui.layout.wrapper > .wrapper > .panel > .toolbar {
    text-align: center;
    padding: 10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    min-width: 200px; /* задаем минимальную ширину тулбара при ресайзе панели */
    position: relative; /* для передвижения тулбара вниз/вверх */
}
.ui.layout.wrapper > .wrapper > .panel > .wrapper {
    height: 500px;
    min-width: 200px; /* убрать для отображения горизонтального скроллинга */
    overflow: auto;
}
.ui.layout.wrapper > .wrapper > .panel > .wrapper > .content {
    position: relative;
}

.ui.layout.wrapper > .wrapper > .divider {
    display:table-cell;
    cursor:col-resize;
    vertical-align: middle;
    text-align:left;
    background-image: -webkit-linear-gradient(left, #fff, #dcdcdc);
    background-image:      -o-linear-gradient(left, #fff, #dcdcdc);
    background-image:         linear-gradient(to right, #fff, #dcdcdc);
    width:6px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border-left:1px solid transparent;
}
.ui.layout.wrapper > .wrapper > .panel.collapse + .divider {
    border-left-color: #000;
}
.ui.layout.wrapper > .wrapper > .divider > .button {
    cursor:pointer;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index:1;
    display: none;
    width: 0;
    height: 0;
}
.ui.layout.wrapper > .wrapper > .divider:hover > .button {
    display: inline-block;
}
.ui.layout.wrapper > .wrapper > .divider > .button.right::after {
    content:'►';
    position: relative;
    left: 2px;
    background-image: -webkit-linear-gradient(left, #fff, #dcdcdc);
    background-image:      -o-linear-gradient(left, #fff, #dcdcdc);
    background-image:         linear-gradient(to right, #fff, #dcdcdc);
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
    padding: 20px 0;
}
.ui.layout.wrapper > .wrapper > .divider > .button.left::before {
    content:'◄';
    position: relative;
    right: 7px;
    background-image: -webkit-linear-gradient(left, #dcdcdc, #fff);
    background-image:      -o-linear-gradient(left, #dcdcdc, #fff);
    background-image:         linear-gradient(to right, #dcdcdc, #fff);
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    padding: 20px 0;
}
.ui.layout.wrapper > .wrapper > .divider > .button:hover {
    color: rgba(0, 0, 0, 1);
}